In [387]:
import pandas as pd

import time

In [155]:
data1=pd.read_csv("file1.csv")
data2=pd.read_csv("file2.csv")

In [198]:
import csv
reader = csv.reader(open("file1.csv", encoding="utf8"))
reader1 = csv.reader(open("file2.csv", encoding="utf8"))
f = open("combined.csv", "w", encoding="utf8")
writer = csv.writer(f)

for row in reader:
    writer.writerow(row)
for row in reader1:
    writer.writerow(row)
f.close()

In [225]:
data2=pd.read_csv("combined.csv")

In [422]:
import csv
data2=pd.read_csv("combined.csv")
data2
# data2=data2.values.tolist()
# def fun(send):
#     try:
#         i=0
#         for data in data2:
#             i=i+1
#             if send in data[3]: 
#                 if(data2[i][2]=="Bestiee "):
# #                     print(data2[i],i+1)
#                     return data2[i]

#     except:
#             pass

        
# print(fun("inkenti"))

            date      time      from                          msg
0      13/06/18   11:13     Bestiee            Aa Video send chey
1      13/06/18   11:17          me   Haan it will take some time
2      13/06/18   11:17     Bestiee                        Haa kk
3      13/06/18   11:17     Bestiee                    No problem
4      13/06/18   11:19          me               <Media omitted>
...          ...       ...       ...                            ...
62223    10/4/19    10:47         me                   Vachesindi ðŸ¤©
62224     1/9/20    00:12         me      Happy Birthday  Rama garu
62225     1/9/20    00:13         me                            ðŸ¤©ðŸ¥³ðŸ’ƒ
62226     1/9/20    08:43         me                            Oyy
62227    1/12/20    15:58    Bestiee                           Tqqq

[62228 rows x 4 columns]

In [421]:
from datetime import datetime

now = datetime.now()

print(now.strftime('%d/%m/%Y %I:%M'))

25/02/2020 11:08

In [ ]:
# auto generate the messages daily